---
layout: page
title: Books I've read
permalink: /books/
---
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Read</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {% assign sorted_books = site.posts | where: "layout", "book" | sort: 'date' | reverse %}
    {% for book in sorted_books %}
      <tr>
        <td>
          <a class="post-link" href="{{ book.url | prepend: site.baseurl }}">
            {{ book.title }}
          </a>
        </td>
        <td>{{ book.author }}</td>
        <td><time>{{ book.date | date: "%Y-%m-%d" }}</time></td>
        <td>{% for star in (1..book.rating) %}★{% endfor %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


