{% assign book = include.book %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">
      <a class="post-link" href="{{ book.url | relative_url }}">
        I read "{{ book.title }}" by {{ book.author }}
      </a>
    </h1>
    <p>
      {% if book.date %}<time datetime="{{ book.date | date_to_xmlschema }}" itemprop="datePublished">{{ book.date | date: "%B %-d, %Y" }}</time>{% endif %}
      |
      Review
      |
      {% for star in (1..book.rating) %}★{% endfor %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ book.content | markdownify }}
  </div>
</article>
