<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 flex-column">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link {% if page.url == "/about/" %}active{% endif %}" href="{{ '/about/' | prepend: site.baseurl }}">About</a></li>
        <li class="nav-item"><a class="nav-link {% if page.url == "/archives/" %}active{% endif %}" href="{{ '/archives/' | prepend: site.baseurl }}">Archives</a></li>
        <li class="nav-item"><a class="nav-link {% if page.url == "/books/" %}active{% endif %}" href="{{ '/books/' | prepend: site.baseurl }}">Books</a></li>
        <li class="nav-item"><a class="nav-link {% if page.url == "/tags/" %}active{% endif %}" href="{{ '/tags/' | prepend: site.baseurl }}">Tags</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Feeds <span class="fa fa-rss"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="dropdown-item">Everything RSS <span class="fa fa-rss"></span></a></li>
            <li><a href="{{ "/posts.xml" | prepend: site.baseurl }}" class="dropdown-item">Posts RSS <span class="fa fa-rss"></span></a></li>
            <li><a href="{{ "/books.xml" | prepend: site.baseurl }}" class="dropdown-item">Books RSS <span class="fa fa-rss"></span></a></li>
          </ul>
        </li>
      </ul>

      <form id="search" class="d-flex" action="/search" method="get">
        <input id="search-box" class="form-control search" role="search" name="q" placeholder="Search" aria-label="Search" results="0" type="text">
        <button class="sr-only" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="text-muted fst-italic">
      — Ben Sheldon's personal blog and <a href="/2012/04/A-Commonplace-Book.html">commonplace book</a>.
    </div>
  </div>
</nav>
