<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-links" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-links">
      <form id="search" class="navbar-form navbar-right" action="http://google.com/search" method="get">
        <fieldset role="search">
          <input class="form-control" name="q" type="hidden" value="site:island94.org">
          <input class="search form-control" name="q" placeholder="Search (via Google)" results="0" type="text">
        </fieldset>
      </form>

      <ul class="nav navbar-nav navbar-right">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="fa fa-rss"></span> RSS</a></li>
      </ul>
    </div>
  </div>
</nav>
