<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-links" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-links">
      <form id="search" class="navbar-form navbar-right" action="https://google.com/search" method="get">
        <input class="form-control" name="q" type="hidden" value="site:island94.org">
        <input class="search form-control" role="search" name="q" placeholder="Search with Google" aria-label="Search with Google" results="0" type="text">
        <button class="sr-only" type="submit">Search</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><a class="page-link" href="{{ '/about/' | prepend: site.baseurl }}">About</a></li>
        <li><a class="page-link" href="{{ '/archives/' | prepend: site.baseurl }}">Archives</a></li>
        <li><a class="page-link" href="{{ '/tags/' | prepend: site.baseurl }}">Tags</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="fa fa-rss"></span> RSS</a></li>
      </ul>
    </div>
  </div>
</nav>
