<nav>
  <ul class="pager">
    {% if paginator.previous_page %}
      <li class="pager-prev"><a href="{{ paginator.previous_page_path }}"><span aria-hidden="true">&larr; </span>Newer</a></li>
    {% else %}
      <li class="pager-prev disabled"><span><span aria-hidden="true">&larr; </span>Newer</span></li>
    {% endif %}

    <small class="pager-current text-muted">Page {{ paginator.page }} of {{ paginator.total_pages }}</small>

    {% if paginator.next_page %}
      <li class="pager-next"><a href="{{ paginator.next_page_path }}">Older<span aria-hidden="true"> &rarr;</span></a></li>
    {% else %}
      <li class="pager-next disabled"><span>Older<span aria-hidden="true"> &rarr;</span></span></li>
    {% endif %}
  </ul>
</nav>
