<div class="container container-body">
  <%= render "post", post: @post %>

  <div class="card my-4">
    <div class="card-body">
      <p>
        Discuss this with me on <a href="https://twitter.com/bensheldon"><i class="bi bi-twitter"></i> Twitter</a>
        or suggest a <a href="https://github.com/bensheldon/island94-jekyll/blob/main/<%= @post.project_filepath %>"><i class="bi bi-github"></i> change</a>.
      </p>
    </div>
  </div>
</div>
