---
layout: default
---

{% assign post = page %}

{% include post.html post=post %}

<div class="card my-4">
  <div class="card-body">
    <p>
      Discuss this with me on <a href="https://twitter.com/{{site.twitter_username}}"><i class="bi bi-twitter"></i> Twitter</a>
      or suggest a <a href="{{site.repository_url}}/blob/main/{{post.path}}"><i class="bi bi-github"></i> change</a>.
    </p>

    <p>Related Posts:</p>
    <ul>
      {% for related_post in site.related_posts limit: 5 %}
        <li><a href="{{related_post.url}}">{{related_post.title}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

