name: New Post
on:
  workflow_dispatch:
    inputs:
      post_title:
        description: 'Post Title'
        required: true
        type: string
      post_body:
        description: 'Post Body'
        required: false
        type: string
jobs:
  new_post:
    name: Create new post and open PR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      # Dependencies
      - name: Install GSL
        run: sudo apt-get -y install libgsl-dev
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Generate new post
        env:
          POST_TITLE: ${{ github.event.inputs.post_title }}
          POST_BODY: ${{ github.event.inputs.post_body }}
        run: bundle exec rake new_post
      - name: Create commit
        run: |
          git config user.name $GITHUB_ACTOR
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

          git add --all _posts/
          git commit -m "Add post: ${{ github.event.inputs.post_title }}"
      - name: Create Pull Request
        id: create_pr
        uses: peter-evans/create-pull-request@v4
        with:
          title: "Add post: ${{ github.event.inputs.post_title }}"
          body: ""
          branch-suffix: timestamp

      - name: PR Details
        run: |
          echo "- Pull Request Number - ${{ steps.create_pr.outputs.pull-request-number }}" >> $GITHUB_STEP_SUMMARY
          echo "- Pull Request URL - ${{ steps.create_pr.outputs.pull-request-url }}" >> $GITHUB_STEP_SUMMARY
