<nav class="navbar navbar-expand-lg navbar-light mb-2 flex-column">
  <div class="container">
    <a class="navbar-brand" href="/">Island94.org</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><%= link_to "About", about_path, class: ["nav-link", active: current_page?(about_path)] %></li>
        <li class="nav-item"><%= link_to "Archives", archives_path, class: ["nav-link", active: current_page?(archives_path)] %></li>
        <li class="nav-item"><%= link_to "Tags", tags_path, class: ["nav-link", active: current_page?(tags_path)] %></li>
        <li class="nav-item"><%= link_to feed_path(format: :xml), class: "nav-link" do %>RSS Feed <i class="bi bi-rss-fill"></i><% end %></li>

        <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
          <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-light-500"></div>
          <hr class="d-lg-none my-0 text-light-500">
        </li>

        <li class="nav-item dropdown">
          <button id="bs-theme" class="btn btn-link nav-link dropdown-toggle" type="button" aria-expanded="false" data-bs-toggle="dropdown"  aria-label="Theme (Auto)">
            <i data-bs-theme-active-icon class="bi bi-circle-half"></i>
            <span data-bs-theme-label>Theme</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bs-theme-text">
            <li>
              <button type="button" class="dropdown-item" data-bs-theme-value="light" aria-pressed="false">
                <i class="bi bi-sun"></i> Light
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item" data-bs-theme-value="dark" aria-pressed="false">
                <i class="bi bi-moon-stars-fill"></i> Dark
              </button>
            </li>
            <li>
              <button type="button" class="dropdown-item" data-bs-theme-value="auto" aria-pressed="true">
                <i class="bi bi-circle-half"></i> Auto
              </button>
            </li>
          </ul>
        </li>

      </ul>

      <form id="search" class="d-flex" action="/search" method="get">
        <input id="search-box" class="form-control search" role="search" name="q" placeholder="Search" aria-label="Search" results="0" type="text">
        <button class="visually-hidden" type="submit">Search</button>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="text-muted fst-italic">
      — Ben Sheldon's personal blog and <a href="/2012/04/A-Commonplace-Book.html">commonplace book</a>.
    </div>
  </div>
</nav>
